extends layout

block body
  header.header
    h1.header__title Babel Library
    if !authenticated
      a.header__account(href="/login") Login
    else
      a.header__account(href="/logout") Logout

  script(src="script/app.js")
