.bookDetail {
  $space: 25px;
  $width-unit: 350px;

  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: $width-unit * 2 + $space;
  padding: $space;
  background-color: #fff;
  &__close {
    position: absolute;
    top: $space / 2;
    right: $space / 2;
    color: #bbb;
    cursor: pointer;
  }
  &__unit {
    display: inline-block;
    width: $width-unit;
    vertical-align: top;
    &:first-of-type {
      margin-right: $space;
    }
  }
  &__img {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #ccc;
  }
  &__list {
    margin-bottom: $space;
    &:first-child {
      padding-bottom: $space;
      border-bottom: 1px solid #ddd;
    }
  }
  &__data {
    font-size: 16px;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  &__heading {
    display: inline-block;
    width: 90px;
    font-size: 16px;
    font-weight: bold;
  }
  &__content {
    display: inline-block;
    width: calc(100% - 90px);
    vertical-align: top;
    > textarea {
      $padding: 5px;
      $line-height: 1.4;

      box-sizing: border-box;
      width: 100%;
      height: calc(3em * #{$line-height} + #{$padding} * 2);
      padding: $padding;
      outline: none;
      font-size: 16px;
      line-height: $line-height;
      resize: vertical;
    }
  }
  &__booklistBtn {
    display: inline-block;
    margin-top: 10px;
    > button {
      padding: 5px 10px;
      border-radius: 3px;
      border: none;
      outline: none;
      background-color: #4ea6cc;
      color: #fff;
      cursor: pointer;
    }
  }
  &__remove {
    display: inline-block;
    padding: 10px;
    border-radius: 3px;
    color: #fff;
    background-color: red;
    cursor: pointer;
  }
}
