.header {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #333;
  color: #fff;
  &__title {
    float: left;
    font-size: 16px;
    font-weight: normal;
  }
  &__right {
    float: right;
  }
  &__add {
    margin-right: 10px;
    cursor: pointer;
  }
  &__account {
    color: #fff;
  }
}
