extends layout

block body
  header.header
    h1.header__title Babel Library
    if !authenticated
      a.header__account(href="/login") Login
    else
      .header__right
        a.header__add#addItem +
        a.header__account(href="/logout") Logout

  main
    each book, i in books
      .book
        img(src="#{book.attributes.image}" alt="")
        p= book.attributes.title
        p= book.attributes.author

  if authenticated
    form.itemFrom(action="/book" method="POST")
      input(type="hidden" name="_csrf" value="#{csrf}")
      input(type="text" name="isbn" placeholder="ISBN")
      input(type="submit" value="Add")

  if authenticated
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src="script/app.js")
